.section_left {
  float: left;
  text-align: center;
  background-color: rgb(193, 191, 191);
  padding-top: 1px;
  margin-bottom: -1px;
  padding-bottom: 99999px;
  width: 30%;
}

.section_right {
  float: left;
  margin-bottom: -1px;
  padding-bottom: 99999px;
}

.roomStyle:hover {
  color:blue;
  cursor: pointer;
}

.roomStyle {
  padding: 10px;  
}


.Modal {
  position: absolute;
  top: 100px;
  left: 200px;
  right: 200px;
  bottom: 600px;
  background-color: lightgray;
  padding: 20px;
}

.button_New_Room {
  margin: 10px;
  padding: 12px 25px;
  font-size: 14px;
  background-color: rgb(61, 194, 54);
  color:whitesmoke;
}

.messageStyle {
  width: 100%;
  color: black;
  font-size: 18 px;
  border: 1px solid blue;
}

.inputMessage {
  margin: 5px;
  padding: 10px;
  float: left;
  width: 50%;
  font-size: 10pt;
}


.button_New_Message {
  float:right;
  margin: 5px;
  padding: 14px 30px;
  font-size: 10px;
  background-color: rgb(61, 194, 54);
  color:whitesmoke;
}

.userStyle {
  background-color: whitesmoke;
}

.user_Name_Style {
  font-weight: bold;
  padding: 4px 0px 10px 0px;
}

.message_List_Style {
  
}

.sentAt_Style {
  padding: 0px 10px 0px 0px;
  float: right;
  font-style: italic;
  font-size: 90%;
}