.section_left {
  float: left;
  text-align: center;
  background-color: lightgray;
  padding-top: 10px;
  margin-bottom: -1px;
  padding-bottom: 99999px;
  width: 30%;
}

.section_right {
  float: left;
  margin-bottom: -1px;
  padding-bottom: 99999px;
}

.roomStyle {
  padding: 10px;

}

.Modal {
  position: absolute;
  top: 100px;
  left: 200px;
  right: 200px;
  bottom: 600px;
  background-color: lightgray;
  padding: 20px;
}
